@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;

}

p {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 100%;
    margin: auto;
}

/* (1) Header Area */

.nav {
    overflow: auto;
    width: 85%;
    margin: 1em auto;
}

.nav h1 a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
    text-decoration: none;
}

.nav h1 {

    text-transform: uppercase;
    width: 50%;
    float: left;


}

.nav ul {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
}

.nav ul a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}

/* (2) Banner Area */

.banner {
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 670px;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    width: 45%;
}

.banner-text h2 {
    color: #c7a17a;
    font-size: 4em;
    text-transform: uppercase;
}


/* frech taste */

.banner-text h2 span {
    color: #96746b;

}

.banner-text p {
    color: #fff;
}

.banner a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    background-color: #312a26;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-top: 1em;
}

/* (3) Ads area */

.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-items {
    width: 48.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3%;
}

.ads-item1 {
    margin-right: 3%;
    background-image: url('../images/ads-img1.jpg');
}

.ads-item2 {
    background-image: url('../images/ads-img2.jpg');
}

.ads-text {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;

}

.ads-text h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-text a {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 5px #312a26;
}

/* (4) Merchandise area */

.merch {
    /*92%? */
    width: 85%;
    margin: 4em auto;
    /* border: 2px solid red; */
    overflow: auto;
}

.section-header {
    text-align: center;

}

.section-header span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #c7a17a;
}

.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}


.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}

.merch-items {
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.merch-items:nth-child(4),
.merch-items:nth-child(8) {
    margin-right: 0;

}

.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount {
    background-image: url(../images/discount-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 85%;
    height: 350px;
    margin: 4em auto;
    /* border:solid #312a26 2px; */
}

.discount-text {
    /* border: solid yellow 2px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;

}

.discount-text h2{
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
}

.discount-text span {
    font-family: 'Raleway',sans-serif;
    color:#fff;
    font-style: italic;
    text-shadow: 2px 2px 2px #312a26;


}

.discount-text a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .5);
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

/* (7) Ads */
.ads-item3{
    margin-right: 3%;
    background-image: url('../images/ads-img3.jpg');
}

.ads-item4 {
    background-image:url('../images/ads-img4.jpg');
}

.ads-item5{
    margin-right: 3%;
    background-image: url('../images/ads-img5.jpg');
}

.ads-item6 { 
    background-image:url('../images/ads-img6.jpg');
}

.ads-item7 {
    margin-right: 3%;
    background-image:url('../images/ads-img1.jpg');
}

.ads-item8 {
    background-image:url('../images/ads-img1.jpg');
}

.ads-item9 {
    margin-right: 3%;
    background-image:url('../images/ads-img1.jpg');
}
.ads-item10 {
    background-image:url('../images/ads-img1.jpg');
}

/* reservation */

.reservation{
    width: 85%;
    margin: 4em auto;
}

form{
    overflow:auto;
}

.form-group{
    margin-top: 2em;
    background-color: #f2f2f2;
    padding: 2em;
    float: left;
    width: 49.5%;
    border-radius: 5px;
    height: 650px;
}

.form-group:nth-child(1){
    margin-right: 1%;
}

form input,
form label,
form select,
form textarea{
    display: inline-block;
    width:100%;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}

form label{
    font-weight:700;
    padding: 0;
    margin-bottom: 0.5em;
}

.res-time{
    text-align: center;
}

.res-time * {
    width: auto;
}
form p{
    margin: 1em;
    text-align: center;
}

form h3{
    text-align: center;
    text-transform: uppercase;
}

form h3::after{
    content: "";
    background-image: url('../images/reservation-cards.png');
    background-size: contain;
    background-repeat:  no-repeat;
    display:block;
    width:150px;
    height:30px;
    margin: auto;
}

.res-agreement *{
    width: auto;
}

form input[type="submit"]{
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}

/* footer area */

.footer {
    background-image: url('../images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-contents {
    width: 85%;
    margin: auto;
    overflow: auto;
}

.footer-widgets {
    width: 24.25%;
    float: left;
    margin-right: 1%;
}

.footer-widgets:nth-child(4) {
    margin-right: 0;
}

.footer-widgets h4 {
    color:#fff ;
}

.footer-widgets p {
    color:#c7a17a ;
}

.footer td, th {
    color:#fff;
    font-family: 'Raleway' , sans-serif;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-widgets h3 {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer-form *{
    width: auto;
}

/* social widget */
.footer-social {
    color:#fff;
    background-color: #191919;
    overflow: auto;
    padding: 1em 7.5%;
}

.social-widget img {
     width:1.5em;
}

.social-widget {
    width:32.68%;
    float: left;
    text-align: center;
}

.social-widget h3 {
    text-transform: uppercase;
}